body {
	background-color: black;
	color:red;

}

.main-contents {
	position:absolute;
	top: 10px;
 	right: 10px;
  	bottom: 0px;
  	left: 0px;
  	margin: auto;
	height: 100%;
	width: 800px;
}

.isDeleteButton {
	float:center;

}
.submit {
	background-color: red;
	color:black;
	margin: 3px;
}
.header {
	text-align: right;
}
.message {
	border: double 3px red;
	margin: 10px;
	padding: 10px;
}
.search {
	border: solid 4px red;
	padding: 0 0 30px 0;
}
form {
	float: center;
}





.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 33%;
	background-color: brack;
	padding: 10px;
}
.subject {
	font-size: 36px;
}
.text {
	font-size: 18px;
}
.category {
	font-size: 15px;
}

a:link { color: #FF4500; }
a:visited { color: #FF0000; }
a:hover { color: #FF8C00; }
a:active { color: #ff8000; }

.name {
	font-weight: lighter;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	border: dashed 5px #ffff00;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: #ffff00;
}
table {
  border-top: 3px solid #999;
  border-right: 3px solid #999;
  border-left: 3px solid #999;
  border-bottom: 3px solid #999;
  border-collapse: collapse;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  margin: auto;
  width: 99%;
}
table th,
table td {
  border-left: 2px solid #999;
  border-bottom: 1px solid #999;
  padding: 10px;
  text-align: center;
  background-color: #141414;
}
table th {
  background-color: #000040;
  text-align: center;
}

